.text{
    
    font-size: 40px;
}
.card{
    margin: 10px;
    width: auto;
    height: auto;
    border-radius: 25px;
    background-color: brown;
    border: 2px solid blueviolet;
}
.card_commentar{
    font-size: 40px;
}
.card_post{
    margin: 10px;
    border-radius: 10px;
    background-color: rgba(245, 123, 0, 0.555);
    border: 2px solid rgba(215, 47, 0, 0.861);
}